<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <h2 cxlass="mb-0">Dernières actualités</h2>
                <p class="mb-5 text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At, enim voluptatem.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 d-flex">
                <div class="card card-row shadow-light-lg mb-4 lift lift-lg" data-aos="fade-up" data-aos-duration="700" data-aos-easing="linear">
                    <div class="col-md-8">
                        <a class="card-body my-auto" href="!#">
                            <h3 class="mt-auto">Titre de l'actualité</h3>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </a>
                        <a class="card-meta" href="!#">
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="card card-row shadow-light-lg mb-4 lift lift-lg" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
                    <div class="col-md-8">
                        <a class="card-body my-auto" href="!#">
                            <h3 class="mt-auto">Titre de l'actualité</h3>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </a>
                        <a class="card-meta" href="!#">
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="card card-row shadow-light-lg mb-4 lift lift-lg" data-aos="fade-up" data-aos-duration="1300" data-aos-easing="linear">
                    <div class="col-md-8">
                        <a class="card-body my-auto" href="!#">
                            <h3 class="mt-auto">Titre de l'actualité</h3>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </a>
                        <a class="card-meta" href="!#">
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>