<section class="logo">
    <div  class="container-fluid" style="background-image: url('/img/8cf81d_6f38ac9003d8070d06fc77ef7c99a227.webp');"
     id="parallax">
        <div class="row justify-content-center p-5">
            <div class="col-12 col-md-10 col-lg-8 text-center">

                <h1 class="display-2 text-dark">
                    Stéphane Paillot
                </h1>

                <p class="lead text-white-75 mb-6">
                    Artiste Peintre aux épenards, près de Sens dans le nord de l'yonne.
                </p>

                <a href="#!" class="btn btn-primary">
                    Découvrir mon portfolio
                    <i class="fa-solid fa-arrow-right"></i>
                </a>

            </div>
        </div>
    </div>
</section>
