<section class="parallax" style="background-image: 
    url('/img/8cf81d_6f38ac9003d8070d06fc77ef7c99a227 (1).webp'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    height: 70%;">
    <div class="container-fluid">
        <div class="row justify-content-center p-5">
            <div class="col-12 col-md-10 col-lg-8 text-center">

                <h1 class="display-2 text-dark mt-5">
                    Stéphane Paillot
                </h1>

                <p class="lead text-white-75">
                    Artiste Peintre situé aux épenards, près de Sens aux portes de la bourgogne .
                </p>

                <a href="{{ path('app_portfolio') }}" class="btn btn-primary mt-5">
                    Découvrir mon portfolio
                    <i class="fa-solid fa-arrow-right"></i>
                </a>

            </div>
        </div>
    </div>
</section>
