
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/public/uploads/peintures/*
!/public/uploads/peintures/8cf81d_d7b4ff0e1e5ddc7b7e7c5ec8bc23e2a1.webp
!/public/uploads/sculptures/16358539_zero-gravity-01-61x24x10cm-2-3kg-iron-tufa-2022-450.jpeg

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
