@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "mixins";
@import "../../node_modules/bootstrap/scss/variables";

body, html {
    height: 100%;
  }

  @include mediaquerries(xs) {
    .parallax {
        /* The image used */
        background-image: url("https://picsum.photos/200/300");
      
        /* Full height */
        height: 100%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  }

  @include mediaquerries(sm) {
    .parallax {
        /* The image used */
        background-image: url("https://picsum.photos/200/300");
      
        /* Full height */
        height: 100%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  }

  @include mediaquerries(md) {
    .parallax {
        /* The image used */
        background-image: url("https://picsum.photos/200/300");
      
        /* Full height */
        height: 100%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  }

  @include mediaquerries(lg) {
    .parallax {
        /* The image used */
        background-image: url("https://picsum.photos/200/300");
      
        /* Full height */
        height: 100%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  }